---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Booking | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <main class="prose p-4 gap-8">
    <h1 class="text-center">Integrated Attachment Theory</h1>
    <h3>Build your way to a secure attachment style</h3>
    <p>
      Integated Attachment Theory (IAT) is a modality that is designed to help
      transform an insecure attachment style into a secure one within weeks. IAT
      holds 5 key pillars that are used to asses and help correct insecure
      attachment programming. IAT doesn't only help you to gain awareness. It
      also truly helps you transform painful attachment habits that are at the
      core of sabotaging your relationships. The one you have to yourself and to
      others.
    </p>
    <p>
      The way we form attachments has a big impact on our personality, the way
      we relate to others and the world around us. In early childhood we form
      beliefs based on our interactions with our caregivers. When left
      unquestioned we take these beliefs we picked up as little children into
      our adulthood and this becomes the way we view and navigate the world.
    </p>
    <p>
      Our beliefs impact our behaviors and unfortunately many of us picked up a
      lot of beliefs that don't serve us and keep us stuck. Example: if you
      believe someone will abandon you based on a perceived or real abandonment
      in childhood, you may develop clinginess or people pleasing as a strategy
      to keep others around, often abandoning yourself in the process.
    </p>
    <p>
      Since our attachment style shows up in multiple areas of our lives, not
      just in romantic relationships. knowing where you are on the spectrum can
      give you the opportunity to heal beliefs and behaviors that no longer
      serve you.
    </p>
    <p></p>
    <p></p>
  </main>
</BaseLayout>
