---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Booking | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <div class="prose p-4 gap-20">
    <main class="gap-8">
      <header>
        <h1>Services</h1>
      </header>
      <!-- Services -->
      <div class="">
        <div
          class="bg-[url('/img/mystic.jpg')] bg-center bg-no-repeat bg-cover"
        >
        </div>
        <div>
          <h2>Integrated Attachment Theory</h2>
          <h4>Build your way to a secure attachment style</h4>
          <p>
            Integated Attachment Theory (IAT) is a modality that is designed to
            help transform an insecure attachment style into a secure one within
            weeks. IAT holds 5 key pillars that are used to asses and help
            correct insecure attachment programming. IAT doesn't only help you
            to gain awareness. It also truly helps you transform painful
            attachment habits that are at the core of sabotaging your
            relationships. The one you have to yourself and to others.
          </p>
        </div>
      </div>
      <div class="">
        <div class=""></div>
        <div>
          <h2>Talking To The Chakra's</h2>
          <h4>Allow your body's natural intelligence to take the lead</h4>
          <p>
            Talking To The Chakra's (TTC) is a gentle and effective way to work
            through emotional blockages, physical ailments and stored trauma.
            TTC is an energy healing modality that uses light touches on the
            body and energetic body to activate healing through your spinal
            center. This process helps free you from old stagnant energy,
            allowing you to create more peace in the body & in the mind.
          </p>
        </div>
      </div>
      <div class="">
        <div
          class="bg-[url('/img/mystic.jpg')] bg-center bg-no-repeat bg-cover"
        >
        </div>
        <div>
          <h2>IAT + TTC</h2>
          <h4>Body - Mind - Energy = Magic</h4>
          <p>
            Combining the cognitive, physical and the energetic to amplify your
            healing process in both speed and depth.
          </p>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
