---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Booking | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <div class="p-4 gap-20">
    <main class="wrapper prose prose-invert stack gap-8">
      <h1>IAT + TTC</h1>
      <h3>Body + Mind + Energy = Magic</h3>
      <p>
        Combining the cognitive, physical and the energetic to amplify your
        healing process in both speed and depth.
      </p>
    </main>
  </div>
</BaseLayout>
