---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About | Christina Koranteng"
  description="About Christina Koranteng Lorem Ipsum"
>
  <main class="p-4 gap-20 prose">
    <header>
      <h1 class="text-center">Hi! I’m Christina</h1>
    </header>
    <section>
      <p>
        an Integrated Attachment Coach dedicated to
        empowering self-aware individuals on their journey to deeper
        self-understanding, emotional resilience, and fulfilling relationships.
        My approach is rooted in the belief that understanding our attachment
        styles and integrating this awareness into our daily lives can
        profoundly transform our personal and professional experiences.
      </p>
      <h1>My Philosophy</h1>
      <p>
        I believe that self-awareness is the cornerstone of personal growth. By
        recognizing and understanding our attachment patterns, we can navigate
        our emotional landscapes more effectively and cultivate healthier
        relationships. My coaching is centered on creating a safe, supportive
        environment where you can explore your attachment history, uncover
        patterns, and develop strategies for lasting change.
      </p>
      <h1>What is Integrated Attachment Coaching?</h1>
      <p>
        Integrated Attachment Coaching is a holistic approach that combines the
        principles of attachment theory with practical coaching techniques.
        Attachment theory explores how early relationships shape our
        expectations and interactions in adult relationships. By integrating
        this understanding with personalized coaching.
      </p>
      <!-- <p>
        I know what it's like having read so many self development books and
        sitting in front of a therapist thinking... Uhhmm I think I know more
        than you do! I know what it's like feeling like you have this big AHA
        moment, discovering a pattern that has been troubling you over and over
        again.. to only find out months later when you fall flat on your face
        again... that AHA moment, was just a piece of a very big and seemingly
        ENDLESS puzzle. I know what it's like to feel like you're healing
        journey is never ending (which it technically is) and sometimes even
        feels like you take 1 step forward and 2 steps back. I've been there,
        done that and it sucks!
      </p>

      <p>
        Before I became an integrated attachment practitioner, I was actually a
        client like you.. I had spent many days searching for the right
        therapist, wondering what's wrong with me and self analysing through the
        internets. After going through a period of attachment coaching myself, I
        began to make big leaps of progress that I had never made before.
        Patterns that I had battled with for years, melted away like snow, my
        self loathing turned into self compassion & self confidence
      </p>

      <p>
        And the best part ?! I was getting to the root cause of my problems and
        solving for them in a matter of weeks instead of years.
      </p>

      <p>
        Once I finished I was so in awe of my own results I became dedicated to
        letting the world know about this. Fast forward 6 years later my heart
        jumps for joy seeing countless of clients go through that same
        fundemental transformation in such short amounts of time.
      </p> -->
    </section>
  </main>
</BaseLayout>
