---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About | Christina Koranteng"
  description="About Christina Koranteng Lorem Ipsum"
>
  <main class="p-4 gap-20 prose">
    <header>
      <h1 class="text-center">Hi, I’m Christina</h1>
    </header>
    <section>
      <p>
        an Integrated Attachment Coach dedicated to helping self-aware
        individuals uncover the blind spots that are preventing them from
        experiencing true fulfillment in different areas of life. My approach is
        rooted in the belief that understanding the root cause of our problem is
        the fastest way to solving it.
      </p>
      <h2>My Philosophy</h2>
      <p>
        Awareness is everything, yet achieves nothing without action. It's one
        thing to be aware of a situation and it's something completely different
        to actually change it. Where many forms of therapy stop at the level of
        simply being aware of a pattern, IAT moves into deeper layers and helps
        you transform it by targeting your subconscious mind.
      </p>
      <h2>What is Integrated Attachment Coaching?</h2>
      <p>
        Integrated Attachment Coaching is a holistic approach that combines the
        principles of attachment theory with practical coaching techniques that
        rewire your subconscious mind.
      </p>
    </section>
  </main>
</BaseLayout>
