---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Booking | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <main class="prose p-4 gap-20">
    <header>
      <h1>Booking</h1>
      <h3>Take a deep breath. It's time to change your life.</h3>
    </header>
  </main>
</BaseLayout>
