---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Booking | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <main class="prose p-4 gap-20">
    <header>
      <h1 class="text-center">Contact</h1>
    </header>
    <section>
      <div class="">
        <p class="">info@christinakoranteng.org</p>
      </div>
    </section>
  </main>
</BaseLayout>
