---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <main class="flex flex-col gap-20">
    <div class="absolute h-full w-[50dvw] border-r"></div>

    <!-- HERO SECTION -->
    <div
      class="flex flex-col bg-[url('img/hero.jpg')] bg-no-repeat bg-cover bg-[center_bottom_0rem] text-white"
    >
      <div
        class="font-sans self-center max-w-[85dvw] md:max-w-[80dvw] stack gap-8 lg:gap-20 font-semibold"
      >
        <header
          class="h-screen flex flex-col gap-8 grid-flow-row justify-end py-32 text-center"
        >
          <h2 class="text-3xl md:text-7xl uppercase tracking-widest">
            Solve your Problems
          </h2>
          <h2 class="text-3xl md:text-7xl uppercase tracking-widest">
            at the root.
          </h2>
          <div class="flex flex-col gap-8 items-center">
            <a href="/services" class="p-2 rounded-lg">Find out more</a>
          </div>
        </header>
      </div>
    </div>

    <!-- Elevator Pitch -->
    <div
      class="flex flex-col h-[70vh] text-black text-center justify-between p-20"
    >
      <div class="text-5xl">
        NO MORE STRUGGLING WITH THE SAME PATTERNS FOR YEARS
      </div>
      <div class="text-6xl px-64">
        I AM HERE TO HELP YOU ADDRESS ISSUES ON A ROOT LEVEL
      </div>
      <div class="text-3xl">
        you're an amazing self- refleced individual who's read the self help
        books, maybe even done the therapy and always knows how to give the best
        advice. but somehow you never managed to translate that into the big
        changes you want for your own life. i'll let you in on a little
        secret...true change happens when we target the subconscious mind! and
        that's exactly what i know to do best.
      </div>
    </div>

    <!-- Relation -->
    <div class="grid grid-cols-12 h-[50vh] text-black">
      <div
        class="col-span-6 bg-[url('/img/relate.jpg')] bg-center bg-no-repeat bg-cover"
      >
      </div>

      <div class="col-span-6 flex flex-col place-self-center p-12 gap-10">
        <div class="text-5xl tracking-wider font-semibold uppercase">
          I know what it's like
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-2xl">
            I know what it's like to feel stuck in a loop,with full self
            awareness of certain behaviours, yet no actual practical ways to
            change.
          </p>
          <p class="text-2xl">
            I know what it's like to have this big AHA moment one day, just to
            find your self in that same old pattern the next. (Read more)
          </p>
          <button class="border rounded w-max p-2">Book Now</button>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <div class="h-auto grid grid-cols-3 grid-rows-2 grid-flow-col">
      <div class="row-span-1 col-span-3 text-7xl text-center">Testimonials</div>
      <div class="col-span-1 flex flex-col">
        <div class="text-3xl">FORGOT MY TROUBLES</div>
        <div class="">
          In a short amount of time I went from really struggling with feeling
          depressed to forgetting that I was ever depressed. Christina's methods
          are really hands on and that's what I love about her approach. I
          really felt in control of my own process and the results show it.
        </div>
        <div>- Emily. Y, Entrepreneur</div>
      </div>
      <div class="col-span-1 flex flex-col">
        <div class="text-3xl">LOVELY BISTRO</div>
        <div class="">
          Christina doesn't settle unless she's gotten to the core. She
        </div>
        <div>- Emily. Y, Entrepreneur</div>
      </div>
      <div class="col-span-1 flex flex-col">
        <div class="text-3xl">TRANSPORTED TO PARIS</div>
        <div class="">
          Eating here made me miss Paris so much. What a treat! I will be
          bringing my client meetings here.
        </div>
        <div>- Carly, Entrepreneur</div>
      </div>
    </div>

    <!-- Offerings -->
    <div class="grid grid-cols-4 h-auto">
      <div class="">
        <div class="text-5xl">
          IT'S TIME TO SOLVE YOUR PROBLEMS AT THE ROOT WITHOUT BEING STUCK FOR
          YEARS!
        </div>
        <div class="text-3xl">
          I help people reprogram and heal their subconscious programs patterns
          and self sabotage.
        </div>
      </div>
      <div class="">
        <div class="bg-[url('img/about.jpg')] h-full bg-contain bg-no-repeat">
        </div>
        <div class="text-3xl">THE BODY</div>
        <div class="">TTC - SOMATIC/ENERGY WORK</div>
      </div>
      <div class="">
        <div class="bg-[url('img/about.jpg')] h-full bg-contain bg-no-repeat">
        </div>
        <div class="text-3xl">THE MIND</div>
        <div class="">INTEGRATED ATTACHMENT THEORY</div>
      </div>
      <div class="">
        <div class="bg-[url('img/about.jpg')] h-full bg-contain bg-no-repeat">
        </div>
        <div class="text-3xl">THE MAGIC</div>
        <div class="">IAT + TTC</div>
      </div>
    </div>
    <!-- Contact -->
    <div class="grid grid-cols-12 h-[50vh] text-black">
      <div
        class="col-span-6 bg-[url('/img/mystic.jpg')] bg-center bg-no-repeat bg-cover"
      >
      </div>

      <div class="col-span-6 flex flex-col place-self-center p-12 gap-10">
        <div class="text-5xl tracking-wider font-semibold uppercase">
          Contact
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-2xl">EMAIL ADDRESS</p>
          <p class="text-2xl">Info@ChristinaKoranteng.com</p>
          <p class="text-2xl">SOCIALS</p>
          <p class="text-2xl">Twitter Facebook Instagram</p>
        </div>
      </div>
    </div>
    <div></div>
  </main>
</BaseLayout>
