---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="grid gap-y-24 overflow-hidden mt-[-4rem] font-sans">
    <!-- HERO SECTION -->
    <div
      class="grid grid-rows-12 h-[100dvh] bg-[url('/img/hero.jpg')] bg-no-repeat bg-cover bg-[center] text-white"
    >
      <div
        class="row-start-9 row-end-12
      md:row-start-9 md:row-end-12
      text-center"
      >
        <header class="flex flex-col gap-2">
          <p class="text-4xl sm:text-6xl lg:text-8xl font-semibold">
            SOLVE YOUR PROBLEMS
          </p>
          <p class="text-4xl sm:text-6xl lg:text-8xl font-semibold">
            AT THE ROOT
          </p>
          <div class="">
            <a
              class="border rounded p-2"
              href="/services/"
              class="p-2 rounded-lg text-xl sm:text-3xl lg:text-4xl"
              >Find out how</a
            >
          </div>
        </header>
      </div>
    </div>

    <!-- Elevator Pitch -->
    <div
      class="flex flex-col place-self-center justify-center w-[100ch] p-4 sm:p-8 gap-5 text-center items-center"
    >
      <div class="text-2xl sm:text-3xl lg:text-5xl font-serif">
        No more struggling with the same patterns for years
      </div>
      <div class="text-lg">
        You are an amazing self-refleced individual who's read the self help
        books, maybe even done the therapy and always knows how to give the best
        advice. but somehow you never managed to translate that into the big
        changes you want for your own life. i'll let you in on a little
        secret...true change happens when we target the subconscious mind! and
        that's exactly what i know to do best.
      </div>
    </div>

    <!-- Relation -->
    <!-- <div
      class="grid grid-flow-row h-[60dvh] sm:grid-flow-col grid-rows-2 sm:grid-rows-1 sm:grid-cols-2 p-4 sm:p-8"
    >
      <div
        class="col-span-1 bg-[url('/img/relate.jpg')] bg-center bg-no-repeat bg-cover"
      >
      </div>

      <div
        class="flex flex-col p-4 sm:p-8 py-24 gap-5 text-center justify-center"
      >
      <div class="text-2xl sm:text-3xl lg:text-5xl font-serif">I know what it's like</div>
        <div class="">
          <p class="text-lg">
            I know what it's like to feel stuck in a loop, with full self
            awareness of certain behaviours, yet no actual practical ways to
            change.I know what it's like to have this big AHA moment one day, just to
            find your self in that same old pattern the next. (Read more)
          </p>
        </div>
      </div>
    </div> -->

    <!-- Testimonials -->
    <div
      class="flex flex-col justify-center p-4 sm:p-8 py-8 gap-5 sm:gaoverflow-auto"
    >
      <div class="text-2xl sm:text-3xl lg:text-5xl sm:text-center font-serif">
        Testimonials
      </div>
      <div
        class="flex self-center overflow-auto p-4 sm:p-8 g p-4a sm:gap-20 w-[800px] sm:w-[80%]"
      >
        <div class="w-1/3">
          <div class="">
            Christina's methods are really hands on and that's what I love about
            her approach. I really felt in control of my own process and the
            results show it.
          </div>
          <div>- Amanda N.</div>
        </div>
        <div class="w-1/3">
          <div class="">
            I've had many different forms of therapy throughout my life but
            working with Christina has made the biggest impact by far!
          </div>
          <div>- Darah</div>
        </div>
        <div class="w-1/3">
          <div class="">Thank you for your magic Christina!</div>
          <div>- Leah</div>
        </div>
      </div>
    </div>

    <!-- Offerings -->
    <div
      class="flex flex-col h-[50dvh] sm:flex-row justify-between p-4 sm:p-8 gap-5 sm:w-[80%] place-self-center"
    >
      <div class="flex flex-col justify-center gap-4 sm:w-1/3">
        <div class="text-2xl sm:text-3xl lg:text-5xl font-serif">
          Time to get out of that Quicksand
        </div>
        <div class="text-xl">
          I help people reprogram and heal their subconscious program patterns
          and self sabotage.
        </div>
      </div>
      <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2">
        <a
          class="grid grid-cols-3 sm:grid-rows-10 sm:grid-cols-1"
          href="/services/iat"
        >
          <div
            class="w-1/2 sm:w-full sm:row-span-8 bg-[url('/img/iat.jpg')] bg-cover bg-no-repeat"
          >
          </div>
          <div class="">THE MIND</div>
          <div class="">IAT - INTEGRATED ATTACHMENT THEORY</div>
        </a>
        <a
          class="grid grid-cols-3 sm:grid-rows-10 sm:grid-cols-1"
          href="/services/ttc"
        >
          <div
            class="w-1/2 sm:w-full sm:row-span-8 bg-[url('/img/ttc.jpg')] bg-cover bg-no-repeat"
          >
          </div>
          <div class="">THE BODY</div>
          <div class="">TTC - SOMATIC/ ENERGY WORK</div>
        </a>
      </div>
    </div>
    <!-- Contact CTA -->
    <aside class="flex flex-col p-4 items-center">
      <h2>Interested in working together?</h2>
      <a class="flex" href="mailto:me@example.com"> Reach out </a>
    </aside>
  </main>
</BaseLayout>
