---
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const currentYear = new Date().getFullYear();

const {
  title = "Christina Koranteng: Personal Site",
  description = "The personal site of Christina Koranteng",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-[100dvh]">
    <div class="flex justify-center">
      <div class="">
        <div
          class="grid gap-y-20 overflow-hidden font-sans justify-items-center"
        >
          <!-- HERO SECTION -->
          <header
            class="grid grid-rows-12 w-[100dvw] h-[100dvh] bg-[url('/img/hero.jpg')] bg-no-repeat bg-cover bg-[center] text-white"
          >
            <div
              class="grid row-start-1 row-end-2 w-full text-4xl place-items-center"
            >
              <a href="/" class="text-white">Christina Koranteng</a>
            </div>
            <div
              class="row-start-9 row-end-12
            md:row-start-9 md:row-end-12
            text-center"
            >
              <header class="flex flex-col gap-2">
                <p class="text-4xl sm:text-6xl lg:text-8xl font-semibold">
                  SOLVE YOUR PROBLEMS
                </p>
                <p class="text-4xl sm:text-6xl lg:text-8xl font-semibold">
                  AT THE ROOT
                </p>
              </header>
            </div>
          </header>

          <main class="grid gap-y-20 p-4">
            <!-- About -->
            <div class="prose">
              <h1 class="text-center">Hi, I’m Christina</h1>
              <p>
                an Integrated Attachment Coach dedicated to helping self-aware
                individuals uncover the blind spots that are preventing them
                from experiencing true fulfillment in different areas of life. I
                believe that understanding the root cause of our problems is the
                fastest way to solving it.
              </p>
              <h3 class="text-center">My Philosophy</h3>
              <p>
                Awareness is everything, yet achieves nothing without action.
                It's one thing to be aware of a situation and it's something
                completely different to actually change it. Where many forms of
                therapy stop at the level of simply being aware of a pattern,
                IAT moves into deeper layers and helps you transform it by
                targeting your subconscious mind.
              </p>
            </div>

            <!-- Elevator Pitch -->
            <div class="prose">
              <h1 class="text-center">
                No more struggling with the same patterns for years
              </h1>
              <p class="">
                You are an amazing self-refleced individual who's read the self
                help books, maybe even done the therapy and always knows how to
                give the best advice. but somehow you never managed to translate
                that into the big changes you want for your own life. i'll let
                you in on a little secret...true change happens when we target
                the subconscious mind! and that's exactly what i know to do
                best.
              </p>
            </div>

            <!-- Testimonials -->
            <div class="prose">
              <h1 class="text-center">Testimonials</h1>
              <div class="flex flex-col sm:flex-row gap-8">
                <div class="prose sm:w-1/3">
                  <h4>Hands on approach</h4>
                  <p>
                    Christina's methods are really hands on and that's what I
                    love about her approach. I really felt in control of my own
                    process and the results show it.
                  </p>
                  <div>- Amanda N.</div>
                </div>
                <div class="prose sm:w-1/3">
                  <h4>Biggest impact</h4>
                  <p>
                    I've had many different forms of therapy throughout my life
                    but working with Christina has made the biggest impact by
                    far!
                  </p>
                  <div>- Darah</div>
                </div>
                <div class="prose sm:w-1/3">
                  <h4>Magical</h4>
                  <p>Thank you for your magic Christina!</p>
                  <div>- Leah</div>
                </div>
              </div>
            </div>

            <!-- Offerings -->
            <div class="prose">
              <h1 class="text-center">Time to get out of that Quicksand</h1>
              <p class="">
                I help people reprogram and heal their subconscious program
                patterns and self sabotage. I offer two types of healing, which
                can be combined to create a symbiotic effect of self-cleansing
                and self-healing
              </p>
              <h2 class="text-center">Integrated Attachment Theory</h2>
              <h4>Build your way to a secure attachment style</h4>
              <p>
                Integrated Attachment Theory (IAT) is a modality that is
                designed to help transform an insecure attachment style into a
                secure one within weeks. IAT holds 5 key pillars that are used
                to asses and help correct insecure attachment programming. IAT
                doesn't only help you to gain awareness. It also truly helps you
                transform painful attachment habits that are at the core of
                sabotaging your relationships. The one you have to yourself and
                to others.
              </p>
              <p>
                The way we form attachments has a big impact on our personality,
                the way we relate to others and the world around us. In early
                childhood we form beliefs based on our interactions with our
                caregivers. When left unquestioned we take these beliefs we
                picked up as little children into our adulthood and this becomes
                the way we view and navigate the world.
              </p>
              <p>
                Our beliefs impact our behaviors and unfortunately many of us
                picked up a lot of beliefs that don't serve us and keep us
                stuck. Example: if you believe someone will abandon you based on
                a perceived or real abandonment in childhood, you may develop
                clinginess or people pleasing as a strategy to keep others
                around, often abandoning yourself in the process.
              </p>
              <p>
                Since our attachment style shows up in multiple areas of our
                lives, not just in romantic relationships. knowing where you are
                on the spectrum can give you the opportunity to heal beliefs and
                behaviors that no longer serve you.
              </p>
              <h2 class="text-center">Talking To The Chakra's</h2>
              <h4>Allow your body's natural intelligence to take the lead</h4>
              <p>
                Talking To The Chakra's (TTC) is a gentle and effective way to
                work through emotional blockages, physical ailments and stored
                trauma. TTC is an energy healing modality that uses light
                touches on the body and energetic body to activate healing
                through your spinal center. This process helps free you from old
                stagnant energy, allowing you to create more peace in the body &
                in the mind.
              </p>
            </div>

            <!-- Contact CTA -->
            <div class="prose">
              <h1 class="text-center">Interested in working together?</h1>
              <div class="flex justify-evenly">
                <p>
                  <a class="" href="mailto:info@christinakoranteng.org">Email</a
                  >
                </p>
                <p class=""><a href="">Booking</a></p>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>

  <footer class="mt-auto">
    <div class="flex flex-col p-4 gap-4 justify-between">
      <!-- <div class="socials flex justify-evenly gap-2">
        <a href="https://twitter.com/me"> spotify</a>
        <a href="https://github.com/me"> instagram</a>
        <a href="https://codepen.io/me"> tiktok</a>
      </div> -->
      <div class="flex justify-center">
        &copy; {currentYear} Christina Koranteng
      </div>
    </div>
  </footer>
  <script is:inline>
    // This code is inlined in the head to make dark mode instant & blocking.
    const getThemePreference = () => {
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("theme-dark");
  </script>
  <script>
    // Add “loaded” class once the document has completely loaded.
    addEventListener("load", () =>
      document.documentElement.classList.add("loaded")
    );
  </script>
</html>
