---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Skills from "../components/Skills.astro";

const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div
      class="font-serif self-center max-w-[85dvw] md:max-w-[60dvw] stack gap-8 lg:gap-20"
    >
      <header
        class="h-[80dvh] flex flex-col gap-8 grid-flow-row justify-center text-center"
      >
        <h2 class="text-3xl md:text-5xl">
          You deserve to get to the root of your problem now!
        </h2>
        <div class="flex flex-col gap-8 items-center">
          <p class="text-lg md:text-2xl">
            I help people move from simply being self aware of their self
            sabotaging patterns to actually changing those patterns. With simple
            yet game changing methods that rewire the subconscious mind.
          </p>
          <a href="/services" class="p-2 rounded-lg">Find out more</a>
        </div>
      </header>

      <section class="flex flex-col gap-8">
        <h2 class="text-3xl md:text-5xl">
          Awareness is everything, yet achieves nothing without action.
        </h2>

        <p class="text-lg md:text-2xl">
          I am here to help you turn your awareness into actual change.
        </p>

        <p class="text-lg md:text-2xl">
          You've always been curious about therapy or perhaps you have already
          been in and out of therapy a few times.You gained a lot of self
          awareness but no tools to change all the unwanted patterns you have
          now become aware of. True change happens when we target the
          subconscious mind - And I just so happen to be an expert in helping
          you do that.
        </p>
        <div class="max-w-[80ch]">
          <PortfolioPreview project={projects[3] as any} />
        </div>
      </section>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Offerings</h3>
          <p>Take a look at my most recent work.</p>
        </header>

        <div class="gallery">
          {
            projects.map((project) => (
              <li>
                <PortfolioPreview project={project} />
              </li>
            ))
          }
        </div>

        <div class="cta">
          <a href="/work/"> View All</a>
        </div>
      </section>

      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Testimonials</h3>
          <p>
            I have been fortunate to receive praise for my work from several
            publications. Take a look to learn more.
          </p>
        </header>

        <div class="gallery">
          {
            ["Medium", "BerlinNext", "FAZ", "awwwards.", "GrowthSpiral"].map(
              (brand) => (
                <li class="mention-card">
                  <p>{brand}</p>
                </li>
              )
            )
          }
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
