---
import { getCollection } from "astro:content";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="My Work | Christina Koranteng"
  description="Learn about Christina Koranteng's most recent projects"
>
  <main class="prose p-4 gap-20">
    <header>
      <h1 class="text-center">My Work</h1>
      <h3>
        See my most recent projects below to get an idea of my past experience.
      </h3>
    </header>
    {
      projects.map((project) => (
        <li>
          <PortfolioPreview project={project} />
        </li>
      ))
    }
  </main>
</BaseLayout>
