---
import Icon from "./Icon.astro";
---

<aside>
  <h2>Interested in working together?</h2>
  <a href="mailto:me@example.com">
    Reach out
    <Icon icon="paper-plane-tilt" size="1.2em" />
  </a>
</aside>
