---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="flex justify-between">
    <p>
      Designed in Berlin with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; {currentYear} Christina Koranteng</p>
    <p class="socials">
      <a href="https://twitter.com/me"> spotify</a>
      <a href="https://github.com/me"> instagram</a>
      <a href="https://codepen.io/me"> tiktok</a>
    </p>
  </div>
</footer>
