---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
  <div class="flex flex-col p-4 gap-4 justify-between">
    <div class="socials flex justify-evenly gap-2">
      <a href="https://twitter.com/me"> spotify</a>
      <a href="https://github.com/me"> instagram</a>
      <a href="https://codepen.io/me"> tiktok</a>
    </div>
    <div class="flex justify-center">&copy; {currentYear} Christina Koranteng</div>
  </div>
</footer>
