---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
  <div class="flex p-4 justify-between">
    <p>
      Designed in Berlin with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; {currentYear} Christina Koranteng</p>

    <p class="socials flex flex-col gap-2">
      <a href="https://twitter.com/me"> spotify</a>
      <a href="https://github.com/me"> instagram</a>
      <a href="https://codepen.io/me"> tiktok</a>
    </p>
  </div>
</footer>
