---
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about/" },
  { label: "Services", href: "/services/" },
  { label: "Booking", href: "/booking/" },
  { label: "Contact", href: "/contact/" },
];

const path = Astro.url.pathname;
---

<nav
  class=`absolute w-full p-4 sm:p-8 flex flex-row justify-between items-center  drop-shadow-xl ${path == "/" ? "text-white" : ""}`
>
  <div class="flex w-full text-2xl">
    <a href="/" class="site-title">Christina Koranteng</a>
  </div>
  <div class="">
    <ul class="hidden md:flex nav-items gap-4">
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                "link",
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== "/" && Astro.url.pathname.startsWith(href)),
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="burger-icon cursor-pointer w-6 h-6 md:hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>

    <!-- mobile menu -->
    <ul
      class="burger-menu hidden absolute bg-transparent right-0 p-4 text-right flex-col gap-8 text-2xl"
    >
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                "link",
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== "/" && Astro.url.pathname.startsWith(href)),
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  const burger = document.querySelector(".burger-icon");
  const menu = document.querySelector(".burger-menu");

  burger?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
  });
</script>
